*.aps
*.db*
*.dep
*.exe
*.htm
*.idb
*.ilk
*.ipch
*.la
*.lib
*.lo
*.log
*.m4
*.mac
*.manifest
*.ncb
*.o
*.obj
*.opendb
*.opt
*.pc
*.pdb
*.plg
*.res
*.suo
*.swp
*.user
.deps
.libs
Debug
INSTALL
Makefile
Makefile.in
Release
aclocal.m4
autom4te.cache
build64.h
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
embedded.h
install-sh
libtool
ltmain.sh
missing
sources
stamp-h1
/.vs/libwdi/FileContentIndex/0a3d0ad8-8555-4d9a-ac1d-cb0877ea779c.vsidx
/.vs/libwdi/FileContentIndex/7d2d42df-2b4f-4f51-af4c-c7f5b2aedc64.vsidx
/.vs/libwdi/FileContentIndex/e9c994a5-adce-4177-94da-2375fd52a88b.vsidx
/.vs/libwdi/FileContentIndex/read.lock
/.vs/libwdi/v17/.wsuo
/examples/wdi-simple.nsi~
